<div class="full_loop">
<div class="post_top">
<div class="post_img animation">
<a href="{{ entity.img.url_1 }}" class="gallery animation"></a><img src="{{ entity.img.url_1 }}"  class="animation"/>
</div>
<ul class="post_detals">
<li class="one">Просмотров <span class="num"> {{ entity.views }} </span></li>
<li>Комментариев <span class="num"> {{ entity.comments }} </span></li>
<li class="one">Пост добавил: <a href="{{ entity.profile_url }}" class="num east" title="Перейти на страницу автора"> {{ entity.author.name }} </a></li>
<li><a class="east" title="категория материала" href="{{ entity.category_url }}"> {{ entity.category.title }}</a></li>
<li>
<div class="name_tags"> Теги материала: </div>
{% for tag in entity.tags %}<a class="tags animation south" title="Искать еще материалы с тегом {{ tag }}" href="{{ www_root }}/news/index/{{ tag }}">{{ tag }}</a> {% endfor %}</li>
</ul>
</div>
<div class="full_message"><h1>{{ entity.title }} <div class="right">{{ entity.moder_panel }} </div></h1> <div style="float:right"> </div>
{{ entity.main_text }}

</div>

{% if checkAccess([module,'download_files']) %}
                  {% if entity.attachment %}
                  <div class="loads">
                   <div class="download_buttom">{{ entity.attachment }} </div><div class="infoload">Загрузок: {{ entity.downloads }}</div>
                       </div>
                  {% else %}
                  <div class="errorfile">
                      Файл не найден
                  </div>
                  {% endif %}
                {% else %}
                <div class="errorfile">
                  У вас нет прав на скачивание файла
                </div>
                {% endif %}
</div>
<div class="comm_hr"> <h2>Всего комментариев: {{ entity.comments }}</h2></div>
