<form name="editUserForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="sendu(this); return false">
<div class="page_style">
      <div class="page_title"><h3>Изменение данных</h3></div>
      <div class="page_cont">
          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong>Полное имя:</strong></span>
            <span class="siu_data"><input class="input_add" type="text" name="full_name" maxlength="255" value="{{ context.full_name }}" /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Адрес e-mail: <font color="red">*</font></strong></span>
            <span class="siu_data"><input class="input_add" type="text" name="email" maxlength="60" value="{{ context.email }}" /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Текущий пароль:</strong><span class="about">Вы должны указать ваш текущий пароль, <em>только</em> если хотите изменить его или поменять свой адрес e-mail.</span></span>
            <span class="siu_data"><input class="input_add" type="password" name="password" maxlength="30" value=""  /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Новый пароль:</strong><span class="about">Указывайте пароль <em>только</em> если вы хотите его поменять.</span></span>
            <span class="siu_data"><input class="input_add" type="password" name="newpassword" maxlength="30" value=""  /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Подтвердите пароль:</strong><span class="about">Только если вы указали новый пароль</span></span>
            <span class="siu_data"><input class="input_add" type="password" name="confirm" maxlength="30" value=""  /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Пол:</strong></span>
            <span class="siu_data">
                  Мужской<input type="radio" name="pol" value="1"{{ context.mpol }} />
                  Женский<input type="radio" name="pol" value="2"{{ context.fpol }} />
            </span>
          </li>
          <li>
            <span class="siu_title"><strong>Город:</strong></span>
            <span class="siu_data"><input class="input_add" type="text" name="city" maxlength="100" value="{{ context.city }}" /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Дата рождения:</strong><span class="about">(день;месяц;год)</span></span>
            <span class="siu_data"> 
                             <select name="bday">{{ context.bday_selector }}</select>
                             <select name="bmonth">{{ context.bmonth_selector }}</select>
                             <select name="byear">{{ context.byears_selector }}</select>        
            </span>
          </li>
          <li>
            <span class="siu_title"><strong>Коррекция временных зон:</strong>
            <span class="about">Укажите разницу вашего времени относительно серверного, чтобы скорректировать время на часах сайта под вас.</span></span>
            <span class="siu_data">
                       <select name="timezone">{{ context.options }}</select>
                               Текущее время на сервере: {{ context.servertime }}</span>
          </li>
          <li>
            <span class="siu_title add_files"><strong>Аватар:</strong>
            <span class="about">Показывает небольшое изображение рядом с вашими ответами, материалами и т.п</span></span>
            <span class="siu_data">
            <img title="{{ context.name }}" class="avatar" border="0" src="{{ context.avatar }}" alt=""/><input type="file" name="avatar"  />{{ context.unlinkfile }}</span>
          </li>
          <li>
            <span class="siu_title add_files"><strong>Подпись:</strong>
            <span class="about">Показывается под вашими сообщениями</span></span>
            <span class="siu_data"><textarea name="signature" cols="30" rows="3">{{ context.signature }}</textarea></span>
          </li>
          <li>
            <span class="siu_title add_files"><strong>О себе:</strong></span>
            <span class="siu_data"><textarea name="about" cols="30" rows="3">{{ context.about }}</textarea></span>
          </li>
          <li>
            <span class="siu_title"><strong>Домашняя страничка:</strong> 
            <span class="about">Ваш WEB-site или ссылка на вашу страницу в соц. сети</span></span>
            <span class="siu_data"><input class="input_add" type="text" name="url" maxlength="60" value="{{ context.url }}"  /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Телефон:</strong></span>
            <span class="siu_data"><input class="input_add" type="text" name="telephone" maxlength="100" value="{{ context.telephone }}" /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Номер ICQ:</strong></span>
            <span class="siu_data"><input class="input_add" type="text" name="icq" maxlength="12" value="{{ context.icq }}"  /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Jabber:</strong></span>
            <span class="siu_data"><input class="input_add" type="text" name="jabber" maxlength="100" value="{{ context.jabber }}" /></span>
          </li>
        <li> <span class="siu_title"><strong>Оформление сайта:</strong>Выберите то, что вам по душе.</span>
            <span class="siu_data"><select name="template">{{ context.template }}</select></span> </li>
         
         
          
          </ul>
           <div class="submit_add" align="center"> <input type="submit" name="submitForm" value="Изменить" /> </div>
      </div>
</div>
</form>


