<style>
#theme_modbar_list li {background:#fff;z-index:9999;}
</style>
 <form action="{{ context.action }}" method="POST">
<div class="user_style">
          <div class="name_title">Поиск по материалам
          <div class="sort_user"><div id="theme_modbar">
      <div class="left">Искать в:</div> <div id="theme_modbar_buttom"></div>
<ul id="theme_modbar_list">
<li style="background:#fff;"><input id="smdforum" type="checkbox" value="forum" name="m[]" {{ context.forum }}>
<label for="smdnews">Форуме</label></li>
<li>
<input id="smdnews" type="checkbox" value="news" name="m[]" {{ context.news }}>
<label for="smdnews">Новости</label></li>
<li>
<input id="smdstat" type="checkbox" value="stat" name="m[]" {{ context.stat }}>
<label for="smdstat">Статьи</label></li>
<li>
<input id="smdloads" type="checkbox" value="loads" name="m[]" {{ context.loads }}>
<label for="smdloads">Загрузки</label>
</li>
      </ul></div></div></div>
        <div class="user_cont">
          <br /><br />
            <input class="input_add left" type="text" value="{{ context.search }}" name="search" style="width:82%;" />
           <div class="submit_add search_full"> <input type="submit" name="submitForm" value="Поиск"> </div>
            <br /><br />  <br /><br /> 
     
       </div>
</div>
</form>

