{% if commentsr %}

    {% for comment in commentsr %}
        <div style="padding-left: {{ comment.lvl * 5 }}%">
            <div class="comm_loop">
                <div class="comm_avatar">
                    {% if config(['comments_tree']) %}
                        <a class="answer west" onClick="replyComment(this, {{ comment.id }}, '{{ comment.name }}');" title="ответить" ></a>
                    {% else %}
                        <a class="answer west" href="#editor" title="ответить" onClick="$('#editor').insertAtCursor('<b>{{ comment.name }}</b>, ', false); return false;"></a>
                    {% endif %}
                    {{ comment.avatar }}
                </div>
                <div class="comm_name">Комментарий оставил: {{ comment.name_a }} 
                    <div style="float:right">{{ comment.moder_panel }}</div>
                    <div class="">Дата добавления: {{ comment.date }}</div>
                </div>
                <div class="comm_message">
                    {{ comment.message }}
                    {% if comment.editdate %}
                        <div class="edit_comm">
                            <span>Комментарий был изменён: {{ comment.editdate }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
