<div class="forum_category">
                <div class="forum_title"> <div class="forum_name">Статистика форума</div></div>
       <div class="forum_content">
       <div class="forum_statics_title">Статистика по форуму</div>
       <div class="forum_polosa forum_statics">
        Всего создано <b>{{ count_themes }}</b> тем, в которые добавлено <b>{{ count_posts }}</b> ответов.<br>Зарегистрировано <b><a class="south" href="/users/index?order=rating" title="посмотреть всех пользователей">{{ count_users }} </a></b> участников. Приветствуем нового участника <b>{{ new_user }}</b>.
            <br />
            
         
       </div>
 <div class="forum_statics_title">Онлайн</div>
       <div class="forum_polosa forum_statics">
    
            Максимум пользователей online <strong>{{ max_online_all_time }}</strong>. Было это <strong>{{ max_online_all_time_date }}</strong>
       </div>
       <div class="forum_polosa forum_statics">
       <div class="forum_online">Сейчас онлайн: {{ all_online }} человек(а) ( Гостей: {{ guests_online }} Пользователей: {{ users_online }} )</div>
      {% if online_users_list %}
<div class="forum_user_list">{{ online_users_list }}</div>
{% else %}
<div class="forum_user_list"> Зарегистрированных пользователей сейчас нет </div>
{% endif %}
      </div>
     
    
            <div class="forum_statics_title">Дни рождения:</div>
       <div class="forum_polosa forum_statics">
    
            {{ today_born_users }}
       </div>
         </div>
</div>

