<div class="forum_category">
       <div class="forum_title"> <div class="forum_name">{{ context.forum_name }}</div> </div>
    
       
       <table width="100%" class="forum_table">
    
        {% if themes %}
      {% for theme in themes %}  
     
      <tr class="forum_polosa  {{ theme.fps_css_class }}">
    
      <td class="forstatus" width="5%">{{ theme.themeicon }}</td>
      <td class="forum_name" width="60%">
      {% if theme.importantly %}<span class="theme_importantly">{{ theme.importantly }} </span> {% endif %}
     <span class="themename">
     {% if theme.description %}
     <a class="namefor west animation" title="{{ theme.description }}" href="{{ theme.theme_url }}">{{ theme.title }}</a> 
     {% else %}
      <a class="namefor animation" href="{{ theme.theme_url }}">{{ theme.title }}</a>
     {% endif %}
     </span>
     <div class="theme_author">    Автор темы: {{ theme.author.name }}  раздел:  {{ theme.parent_forum }} </div>
 {{ theme.near_pages }}
    </td>
      <td class="theme_detal" width="15%">
        <ul>
            <li>{{ theme.posts }} Ответов </li>
            <li> {{ theme.views }} Просмотров</li>
            
        </ul>
        </td>
        
      <td class="forum_message" width="30%">
      
      {{ theme.last_post }}<br />Сообщение от: <span class="lastPostUser">{{ theme.last_user }}</span><br />{{ theme.last_page }}
      {% if theme.adminbar %}<div class="theme_admin">{{ theme.adminbar }}</div>{% endif %}
      </td>
      
      {% endfor %}
       </tr>
    
      {% else %}
      <div class="forum_category">
       <div class="forum_title"> <div class="forum_name">{{ forum.title }}</div> </div>
      <div class="forum_errors ">Тем еще не создано. Вы можете быть первым 
      
      {% if add_link %}
      {% if forum.subforums %}
      <a href="{{ www_root }}/forum/add_theme_form/{{ subforum.id }}">Создать?</a>
      {% else %}
       <a href="{{ www_root }}/forum/add_theme_form/{{ forum.id }}">Создать?</a> 
      
      {% endif %}
      {% endif %}
      
    
      </div>
          
    </div></div>
      {% endif %}
   
      </table>
    
    <div style="clear:both;"></div>