<!doctype html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta charset="UTF-8"/>

<meta name='robots' content='index, follow' />
<meta name='rating' content='general' />
<meta name='generator' content='Atom-M CMS' />

<link rel="shortcut icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/reset.css" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />

<script type="text/javascript" src="{{ www_root }}/data/js/jquery.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/atom.js"></script>

{{ editor_head }}

<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<script type="text/javascript" src="{{ template_path }}/js/tipsy.js"></script> 
<script type="text/javascript" src="{{ template_path }}/js/libs.js"></script>

<!--[if IE]>     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]--> 
<!--/FancyBOX -->

<script type="text/javascript">
{% if atm_user.id %}
    check_pm('{{ atm_user.id }}');
{% endif %}
</script>
</head>



<body>

<header>
<div class="h_top">
<div class="h_navig">
<a class="h_logo north" href="/" title="Главная страница"></a>
<ul class="h_nav">
<li class="top"><a class="animation" href="/">Главная страница</a></li>
<li class="top"><a class="animation" href="/forum/">Форум портала</a></li>
<li class="top"><a class="animation" href="/loads/">Каталог загрузок</a></li>
<li class="top"><a class="animation" href="/stat/">Каталог статей</a></li>
<li class="top"><a class="animation" href="/news/">Новости игровой индустрии</a></li>

<li class="top"><a href="#" class="down animation"></a>
<ul class="animation">
<li><a class="animation" href="#">Дополнительный пункт в меню</a></li>
<li><a class="animation" href="#">Дополнительный пункт в меню</a></li>
<li><a class="animation" href="#">Дополнительный пункт в меню</a></li>
<li><a class="animation" href="#">Дополнительный пункт в меню</a></li>
<li><a class="animation" href="#">Дополнительный пункт в меню</a></li>
</ul>
</li>

</ul>

<div class="search_h">

  <form method="POST" action="{{ www_root }}/search/"> 
        <input type="hidden" name="subaction" value="search"> 
      <input name="search" value="поиск по сайту..." onBlur="if(this.value=='') this.value='поиск по сайту...';" onFocus="if(this.value=='поиск по сайту...') this.value='';" type="text" class="search_input animation">
        <input value=" " type="submit" name="send"> 
       </form> 


</div>

</div>
</div>
</div>
</header>

<div class="content_forum">



<div class="sider_left">

<ul>
<li class="nav_forum menu_one">
<a href="{{ www_root }}/">
<div class="icon home"></div>
<div class="name1">Главная</div>
</a></li>

<li class="nav_forum menu_one">
<a href="{{ www_root }}/forum">
<div class="icon forum"></div>
<div class="name2">Форум</div>
</a></li>

<li class="nav_forum menu_one">
<a href="{{ atm_user.profile }}">
<div class="icon profile"></div>
<div class="name3">Профиль</div>
</a></li>

<li class="nav_forum menu_one">
<a href="{{ www_root }}/loads">
<div class="icon load"></div>
<div class="name4">Файлы</div>
</a></li>

</ul>
</div>

<div class="sider_right">  
 {{ content }} </div>

</div>

<div class="footer">
За материала на портале администрация ответственность не несет.<br>
© site.naem 2011-2013 Копирование рипов разрешено с учетом обратной ссылки на ресурс
</div>
</body>

</html>