<form name='editThemeForm' id="movePostsForm" action="{{ context.action }}" method="POST" onsubmit="sendu(this); return false">
<div class="page_style forum_style">
       <div class="page_title"><h3>Перемещение сообщений из темы: {{ theme.title }}</h3></div>
      <div class="page_cont">

          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong>Идентификатор темы:</strong>
            <span class="about">Порядковый номер темы в которую вы хотите переместить сообщения, узнать его можно из адреса страницы темы. Этот номер находится в конце адреса, после <b>view_theme/</b></span></span>
            <span class="siu_data"><input class="input_add" type="text" name="theme" maxlength="55" value="{{ context.theme }}" /></span>
          </li>

          </ul>
      </div>
{% for post in posts %}
<div class="forum_posting" id="post{{ post.id }}">
<div class="poststarterinfo">
<a class="postusername">{{ post.author_name }}</a>
<span class="postdate right">Отправлено: {{ post.time }}</span>
<label class="postidlink"><input type="checkbox" {% for curr in context.posts_select %} {% if curr == post.id %} checked="checked" {% endif %} {% endfor %} value="{{ post.id }}" name="post_{{ post.id }}" /></label>
</div>

 <div class="posttext">{{ post.message }}</div>

</div>
{% endfor %}
<div class="forum_pagination">{{ pagination }}</div>

  <div class="submit_add" align="center"> <input type="submit" name="submitForm" value="Переместить выделенные сообщения" /> 
            <br /><div style="color:#ba2525">Сообщения будут распределены относительно даты их создания</div>
            </div>

</div>

      
</form>
