<form name='editThemeForm' action="{{ context.action }}" method="POST" onsubmit="sendu(this); return false">
<div class="page_style forum_style">
       <div class="page_title"><h3>Разделение темы: {{ theme.title }}</h3></div>
      <div class="page_cont">

          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong>Форум новой темы:</strong></span>
            <span class="siu_data"><select class="input_add" name="id_forum"> {{ context.options }}</select></span>
          </li>
          <li>
            <span class="siu_title"><strong>Название новой темы:</strong></span>
            <span class="siu_data"><input class="input_add" type="text" name="theme" maxlength="55" value="{{ context.theme }}" /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Описание новой темы:</strong></span>
            <span class="siu_data"><input class="input_add" type="text" name="description" maxlength="128" value="{{ context.description }}" /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Закрыть доступ:</strong></span>
            <span class="siu_data">
            <br/>
            {% for group in fps_users_groups %}
                    <label><input type="checkbox" {% for curr in context.gr_access %} {% if curr == group.id %} checked="checked" {% endif %} {% endfor %} value="{{ group.id }}" name="gr_access_{{ group.id }}" />&nbsp;{{ group.title }}</label><br />
            {% endfor %}
            </span>
          </li>
          <li>
            <span class="siu_title"><strong>Закрепить первое сообщение темы:</strong></span>
            <span class="siu_data"><input  type="checkbox" name="first_top" {% if context.first_top %} checked="checked" {% endif %} /></span>
          </li>
          {% if checkAccess([module,'close_themes']) %}
          <li>
            <span class="siu_title"><strong>Закрыть тему:</strong>Запрет на добавление сообщений в теме</span>
            <span class="siu_data"><input type="checkbox" name="locked" {% if context.locked %} checked="checked" {% endif %} /></span>
          </li>
          {% endif %}
          <li>
             <div class="submit_add" align="center"> <input type="submit" name="submitForm" value="Разелить" /> 
            <br />Будет создана новая тема с выделенными сообщениями. </div>
          </li>
          </ul>
      </div>
{% for post in posts %}
<div class="forum_posting" id="post{{ post.id }}">
<div class="poststarterinfo">
<a class="postusername">{{ post.author_name }}</a>
<span class="postdate right">Отправлено: {{ post.time }}</span>
<label class="postidlink"><input type="checkbox" {% for curr in context.posts_select %} {% if curr == post.id %} checked="checked" {% endif %} {% endfor %} value="{{ post.id }}" name="post_{{ post.id }}" /></label>
</div>
<div class="posttext">{{ post.message }}</div>

</div>
{% endfor %}
<div class="forum_pagination">
   {{ pagination }}
    </div>
</div>

</form>
